#my_table {
    border: solid;
    border-color: black;
    background-color: #e0fbfc;
}
th  {
    background-color: #3d5a80;
    color: white;
    border-style: solid;
    border-color: black;
}
center-radios {
    text-align: center;
}
.no-border {
    border: none;
    
}
td {
    background-color: #e0fbfc;
}
.other-td {
    background-color: #6cb4de;
}
caption {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}
